*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* HEADER */

nav{
    text-align: center;
    background-color: rgb(49, 97, 224);
}

nav li{
    display: inline-block;
    padding: 20px 0;
}

#jumbotron{
    background-image: url("../img/jumbo.png");
    height: 500px;
    background-size: cover;
    background-position: center;
}

.container{
    width: 70%;
    margin: 0 auto;
}

/* MAIN */

.second, .fourth{
    background-color: rgb(246, 246, 246);
}

.img{
    width: 50%;
    padding: 5% 0;
}

.first.section .float.img, .third.section .float.img{
    float: left;
    margin-right: 200px;
}

.second.section .float.img{
    float: right;
}

.text{
    padding-top: 100px;
}

.text h2{
    font-size: 4vh;
    font-weight: bolder;
}

.text p{
    padding-top: 30px;
    font-size: 3vh;
}