*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.button{
    padding: 10px 15px;
    border-radius: 25px;
    text-decoration: none;
}

.container{
    width: 70%;
    margin: 0 auto;
}

/* HEADER */


/* nav section */
nav{
    text-align: center;
    background-color: rgb(49, 97, 224);
    height: 100px;
}

nav li{
    display: inline-block;
    font-size: 0.8rem;
}

nav li:hover{
    text-decoration: underline;
}

#logo{
    float: left;
    padding: 30px 0;
}

nav .button{
    float: right;
    margin-top: 30px;
    background-color: white;
    color: black;
    font-weight: bold;
}

nav .button:hover{
    box-shadow: 2px 2px 5px black;
    text-decoration: none;
    color: rgb(49, 97, 224);
}

.menu-list{
    margin-top: 35px;
    padding: 0 15px;
    color: white;
}
/* end nav section */


#jumbotron{
    background-image: url("../img/jumbo.png");
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
}

#jumbotron .container{
    width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#jumbotron .container h2{
    font-size: 3rem;
    color: white;
    padding-bottom: 30px;
}

#jumbotron .container p{
    font-size: 1.5rem;
    padding-bottom: 30px;
    color: white;
}

.download.button{
    background-color: white;
    color: black;
    padding: 15px 30px;
    font-weight: bold;
}

.download.button:hover{
    box-shadow: 2px 2px 5px black;
    color: rgb(49, 97, 224);
}

.download.button i{
    padding-right: 10px;
}

.browser.button{
    background-color: rgb(35, 39, 42);
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    margin-left: 20px;
}

.browser.button:hover{
    box-shadow: 2px 2px 5px black;
    filter: brightness(0.9);
}

/* MAIN */

.second, .fourth{
    background-color: rgb(246, 246, 246);
}

.img{
    padding: 5% 0;
    width: 50%;
}

.first.section .float.img, .third.section .float.img{
    float: left;
    margin-right: 100px;
}

.second.section .float.img{
    float: right;
    margin-left: 100px;
}

.text{
    padding-top: 100px;
}

.text h2{
    font-size: 4vh;
    font-weight: bolder;
}

.text p{
    padding-top: 30px;
    font-size: 3vh;
}

.fourth.section .text{
    text-align: center;
}

.fourth.section .img{
    margin: 0 auto;
}

.fourth.section img{
    width: 100%;
}

.fourth.section #adventure{
    text-align: center;
    padding-bottom: 5%;
}

#adventure h3{
    padding-bottom: 40px;
    width: 40%;
    margin: 0 auto;
    background-image: url("../img/stars.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#adventure a{
    background-color: rgb(142, 161, 225);
    color: white;
}

#adventure a:hover{
    box-shadow: 2px 2px 5px black;
    filter: brightness(0.9);
}

/* FOOTER */

footer{
    background-color: rgb(35, 39, 42);
}

footer ul{
    float: left;
    padding: 30px 0;
    width: calc(70% / 4);
    list-style: none;
}

footer a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.first-link{
    color: rgb(114, 137, 218);
    font-weight: bold;
    font-size: 12px;
}

#chevron{
    float: left;
    width: 30%;
    padding-top: 30px;
    padding-right: 100px;
}

#chevron a{
    font-size: 12px;
    color: white;
    text-decoration: none;
}

#chevron img{
    width: 5%;
    min-width: 10px;
}

#chevron a span{
    padding-right: 2px;
}

#chevron h2{
    color: rgb(115, 138, 220);
    padding-bottom: 20px;
}

.fa-solid{
    padding-right: 5px;
}

#social{
    padding-top: 20px;
    width: 100%;
}

#social i{
    color: white;
    font-size: 20px;
}

#social a{
    float: left;
    width: 25%;
}

.bottom.container{
    padding: 50px 0;
    border-top: 1px solid rgb(142, 161, 225);
}

#bottom-logo{
    color: white;
    float: left;
}

.register.button{
    background-color: rgb(142, 161, 225);
    color: white;
    float: right;
    font-weight: bold;
}

.register.button:hover{
    box-shadow: 2px 2px 5px black;
    filter: brightness(0.9);
    text-decoration: none;
}